
@model IEnumerable<Bondora.Models.RentItems>;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @{
            ViewData["Title"] = "Bondora Rent";
        }
    </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th colspan="2">Days</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="items">
                    <td data-td="name">@item.Name</td>
                    <td data-td="price">@item.Price</td>
                    <td data-td="type">@item.Type</td>
                    <td data-td="days"><input type="number" /></td>
                    <td><button onclick="addToBasket(this)">Add To Basket</button></td>
                </tr>
            }
        </tbody>
    </table>
        
    <button style="float:right" onclick="getInvoice()">Get Invoice</button>
    <div class="invoicePopup" style="position:absolute;background-color:white;border-radius:8px;border:1px solid gray"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
        var basket = [];
        function addToBasket(target) {
            debugger;
            var row = $(target).parents('.items');
            var data = {
                Name: row.find('[data-td="name"]').text(),
                CustomerPaidMoney: row.find('[data-td="price"]').text(),
                CustomerRentedProduct: row.find('[data-td="type"]').text(),
                RentalPeriod: +row.find('[data-td="days"] input').val(),
            }
            $.ajax({
                url: 'Customer/AddRent',
                contentType: 'application/json',
                //dataType: 'json',
                type: 'POST',
                cache: false,
                data: JSON.stringify(data),
                async: false,
                complete: function (requestObj, textStatus) {
                            location.reload();

                }
            });
        
        }
        function getInvoice() {
            $.ajax({
                url: 'Customer/GetInvoice',
                type: 'GET',
                complete: function (requestObj, textStatus) {
                    debugger;
                    if (requestObj.responseText) {
                        $('.invoicePopup').html(requestObj.responseText);
                    } else {
                        alert(textStatus);
                    }
                }
            });
        }

    </script>
</body>
</html>
